*{
    padding: 0;
    margin: 0;
}
.nev{
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 1, 30, 1); 
}
.contenr{
    display: flex;
    overflow: hidden;
    width: 550px;
    
    
    
}
.day0{
    min-width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.7s ease-in-out;
    opacity: 0;
    
    
}
.active{
    opacity: 1;
    

    
}
.day{
    height: 500px;
    min-width: 400px;
    background-color: rgba(41, 9, 71, 0.267); 
    border-radius: 25px; 
    overflow: hidden; 
    border: 3px solid rgba(60, 9, 108, 1); 
    backdrop-filter: blur(10px);
    margin: 0px 0px;
    padding: 20px 10px;
    
}
.part1{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", serif; 
    font-weight: 100; 
    font-style: normal; 
    color: white; 
    font-size: 30px; 
}
.part2{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 25px;

}
.len{
    height: 2px;
    width: 30%;
    background: linear-gradient(to right, #3C096C, #D7AEFF);
}
.text_day{
    background: linear-gradient(to right, #3C096C, #D7AEFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Kanit", serif; 
    font-weight: 300; 
    font-style: normal; 
    
}


.part3{
    height: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: transparent;
    font-family: "Kanit", serif; 
     
    font-style: normal; 

}
.li{
    width: 100%;
    display: flex;
    color: white;
    padding: 0px 0px 0px 15px;
    gap: 20PX;

    
    
}
.time{
    max-width: 35%;
    line-height: 1.5;
    font-weight: 400; 
    
}
.text_time{
    max-width: 220px;
    text-align: left;
    line-height: 1.5;
    word-spacing: normal;
    font-weight: 100; 
    
    
    
}


.but{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 200PX;
}
.button{
    transition: 0.2s ease;
}
.button:hover{
    scale: 1.1;
    filter: drop-shadow(0PX 0PX 10PX #D7AEFF);
}


@media(max-width: 1000px){
    .but{
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-around;
        
        gap: 200PX;
        
        
    }
}
@media(max-width: 650px){
    .day{
        height: 400px;
        min-width: 320px;
        background-color: rgba(41, 9, 71, 0.267); 
        border-radius: 25px; 
        overflow: hidden; 
        border: 3px solid rgba(60, 9, 108, 1); 
        backdrop-filter: blur(10px);
        margin: 0px 0px;
        padding: 20px 10px;
        
        
    }
    .part3{
        height: 70%;
        min-width: 320px;
        
        font-size: 15px;
    
    }
    .text_time{
        max-width: 176px;
        text-align: left;
        line-height: 1.5;
        word-spacing: normal;
        
        
        
    }
}



















@media(max-width: 480px){
    .day{
        height: 400px;
        min-width: 260px;
        background-color: rgba(41, 9, 71, 0.267); 
        border-radius: 25px; 
        overflow: hidden; 
        border: 3px solid rgba(60, 9, 108, 1); 
        backdrop-filter: blur(10px);
        margin: 0px 0px;
        padding: 20px 10px;
        
        
    }
    .part3{
        height: 70%;
        min-width: 260px;
        
       
        font-size: 15px;

    
    }
    .but{
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-around;
        
        gap: 300PX;
        
        
    }
    .button{
        transition: 0.2s ease;
        
        width: 10PX;
        height: 60PX;
    }
    .text_time{
        max-width: 143px;
        text-align: left;
        line-height: 1.5;
        word-spacing: normal;
        
        
        
    }
    .time{
        max-width: 35%;
        line-height: 1.5;
        
    }
    
}
